
/*-.-.-.-.-.-.-.-.- HOME -.-.-.-.-.-*/

.redesIG{
    background: linear-gradient(rgba(0, 0, 255, 0.816), rgba(245, 50, 154, 0.855), rgba(255, 0, 0, 0.838), rgba(255, 166, 0, 0.844));
    border: 1px solid black;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.redesFB{
    background-color: blue;
    border: 1px solid black;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.redesWS{
    background-color: rgb(0, 255, 0);
    border: 1px solid black;
    padding: 00.5rem;
    margin-bottom: 0.5rem;
}

.redes{
    color: black;
    font-size: 1.8rem;
}

.redesFooter .redes{
    color: white;
}

/*-.-.-.-.-.-.-.-.-.- FIN DEL HOME -.-.-.-.-.-.-.-.-*/

/*-.-.-.-.-.-.-.-.-.- INICIO DE CONTACTO -.-.-.-.-.-.-.-.*/

.recetasContacto{
    background: linear-gradient(to left, rgba(255, 52, 208, 0.781), pink, rgba(0, 255, 255, 0.753));
}










